
.idea/

cache/code/cache/.locks/models--facebook--opt-125m/

cache/code/cache/models--facebook--opt-125m/refs/

cache/code/cache/models--facebook--opt-125m/snapshots/27dcfa74d334bc871f3234de431e71c6eeba5dd6/

cache/code/cache/models--facebook--opt-125m/blobs/

cache/code/cache/models--facebook--opt-125m/.no_exist/27dcfa74d334bc871f3234de431e71c6eeba5dd6/

dataset/__pycache__/

*.pyc

*.lock

cache/models--facebook--opt-125m/.no_exist/27dcfa74d334bc871f3234de431e71c6eeba5dd6/

cache/models--facebook--opt-125m/blobs/

cache/models--facebook--opt-125m/snapshots/27dcfa74d334bc871f3234de431e71c6eeba5dd6/

cache/models--facebook--opt-125m/refs/
